@model ImageService.WebApplication.Models.ConfigModel


@{
    ViewBag.Title = "Config";
}
<br />

<div class="container">
    <h2>Configure of the service</h2>
    @if (Model.IsConnected())
    {
        <table class="table">
            <tr class="info">
                <td>@Html.DisplayNameFor(model => model.OutPutDir)  </td>
                <td> @Html.DisplayFor(model => model.OutPutDir)</td>
            </tr>
            <tr class="warning">
                <td>@Html.DisplayNameFor(model => model.SourceName)  </td>
                <td> @Html.DisplayFor(model => model.SourceName)</td>
            </tr>
            <tr class="success">
                <td>@Html.DisplayNameFor(model => model.LogName)  </td>
                <td> @Html.DisplayFor(model => model.LogName)</td>
            </tr>

            <tr class="active">
                <td>@Html.DisplayNameFor(model => model.ThumbnailSize)  </td>
                <td> @Html.DisplayFor(model => model.ThumbnailSize)</td>
            </tr>
        </table>

        <br />
        <h2>@Html.DisplayNameFor(model => model.listHandlers):</h2>
        <div class="list-group">
            @foreach (string item in Model.listHandlers)
            {
                <a href='@Url.Action("RemoveHandler", "Config", new ImageService.WebApplication.Models.RemoveHandlerModel(item))'
                    class = "list-group-item"> @Html.DisplayFor(Model => item) </a>
            }
            
        </div>

    }
</div>
