@model ImageService.WebApplication.Models.RemoveHandlerModel
@{
    ViewBag.Title = "Remove Handler";
}
<div class="text-center">
    <h1 class="label-success">Remove Handler</h1>
    @{
        //Checking if there is a parameter of this name
        string name;
        try
        {
            name = Request.Params["HandlerName"].ToString();
        }
        catch (Exception)
        {
            name = null;
        }
        if (name != null)
        {
            <br />
            <div id="hide" style="display:none">
                <p class="h3">Handler name   <text id="handlerName">@name</text></p>
                <br />
                <div style="margin-left:40px">
                    <button style="width:80px;height:50px" type="button" id="btnOk" class="btn btn-success">Ok</button>

                    <button style="width:80px;height:50px" type="button" id="btnCancel" class="btn btn-warning">Cancel</button>
                </div>
            </div>

            <p class="label-danger h3" id="notExist" style="display:none">This handler is not exist!</p>
            <script>
                var input = {
                    name: $("#handlerName").text()
                };
                $.get("@Url.Action("IsExists")", input, function (ret) {
                    //Showing the button
                    if (ret == "True") {
                        $("#hide").css("display","inline-block");
                    }
                    //Showing the error message
                    else {
                        $("#notExist").css("display", "inline-block");
                    }
                })

                $("#btnOk").click(function () {
                    var input = {
                        name: $("#handlerName").text()
                    };
                    $.get("@Url.Action("IsExists")", input, function (ret) {
                        alert("The handler " + input.name + " is going to be removed");
                    })
                    //Disable the button 
                    $("#btnOk").attr("disabled", true);
                    $("#btnOk").addClass('disabled');
                    //Routing to the config folder
                    @*window.location = '@Url.Action("Config", "Config",null)';*@
                });

                $("#btnCancel").click(function () {
                    alert("You just chose to cancel");
                    //Routing to the config folder
                    window.location = '@Url.Action("Config", "Config",null)';
                });


            </script>
        }

    }
</div>

