@model ImageService.WebApplication.Models.Photo
@{
    ViewBag.Title = "ViewPhoto";
}
<style >
    .button {
        background-color: dodgerblue; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #btnOk {
        background-color: red;
    }
</style>
<h2>ViewPhoto</h2>
<p>photo is </p>
@{ 
    string path;
    string name;
    string date;
    try
    {
        path = Request.Params["Path"].ToString();
        name = Request.Params["Name"].ToString();
        date = Request.Params["Date"].ToString();
    }
    catch (Exception)
    {
        path = null;
        name = null;
        date = null;
    }
    if (path != null)
    {
        <img src="~/@path" />
        <!--<p>@@name: @@date</p>-->
        <p><text id="PhotoName">@name</text>: @date</p>
        <a href="@Url.Action("Photos", "Photos", null)" class="btn btn-info btn-xs button" role="button">
            BACK
        </a>
        <button type="button" id="btnOk" class="btn btn-info btn-xs button">Delete</button>
        <script>
            var input = {
                photoName: $("#PhotoName").text()
            };
            $("#btnOk").click(function() {
                //Disable the buttons
                $("#btnOk").attr("disabled", true);
                $("#btnOk").addClass('disabled');
                $.post("@Url.Action("Delete")", input, function(ret) {
                    if(ret == input.photoName) {
                        alert("The Photo " + input.photoName + " was removed");
                        window.location = '@Url.Action("Photos", "Photos",null)';
                    } else {
                        alert("Error in deleting the Photo: " + input.photoName);
                    }
                });
            }); </script>

    }
    else
    {
        <img src="~/Images/‏‏Capture002.png" />
    }
}

